.tag {
  --tagBackground: var(--color-gray-800);
  display: inline-flex;
  gap: 4px;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  background: var(--tagBackground);
  max-width: 100%;
}

.children {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
