@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.badgeWrapper {
  display: inherit;
  position: relative;
}

.badgeAbsolute {
  position: absolute;
  top: -2px;
  left: calc(100% - 1px);
}

.badge {
  border-radius: 30px;
  padding: 2px 6px;
  box-sizing: border-box;
  min-width: var(--counterSize);
  height: var(--counterSize);
  white-space: nowrap;
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  &.count {
    &:global(.enter-active), &:global(.exit-active) {
      animation-name: pulse;
      animation-duration: .3s;
      animation-iteration-count: 2;
      animation-direction: alternate;
      transition-timing-function: ease-in-out;
    }
  }
  &.small {
    --counterSize: 20px;
  }
  &.normal {
    --counterSize: 28px;
  }
  &.primary {
    background: var(--badge-primary-backgroundColor);
    color: var(--badge-primary-textColor);
  }
  &.secondary {
    background: var(--badge-secondary-backgroundColor);
    color: var(--badge-secondary-textColor);
  }
}
