@import './button-mixins.less';

button {
  padding: 0;
}

.btn {
  --borderRadius: 30px;
  --borderWidth: var(--button-borderWidth, 2px);
  --pulseSize: 8px;
  --pulseColor: var(--hoveredBackgroundColor);
  --buttonTransition: 0.26s cubic-bezier(0.645, 0.045, 0.355, 1);
  --defaultIconSize: 20px;
  --horizontalPadding: 8px;
  --color-main: var(--button-color-main);
  --color-neutral: var(--button-color-neutral);
  --color-medium: var(--button-color-medium);
  --color-contrast: var(--button-color-contrast);

  position: relative;
  border-radius: var(--borderRadius);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--textColor);
  background: var(--backgroundColor);
  min-height: var(--buttonHeight);
  max-height: var(--buttonMaxHeight);
  min-width: var(--buttonMinWidth);
  transition: all var(--buttonTransition);
  gap: 8px;
  border: none;
  box-shadow: inset 0px 0px 0px var(--borderWidth) var(--borderColor, transparent);
  padding: 0 var(--horizontalPadding);

  & .counter {
    position: absolute;
    bottom: -4px;
    left: calc(100% - 18px);
    z-index: 1;
  }

  &:hover:not(.btn--disabled),
  &:focus:not(.btn--disabled) {
    color: var(--hoveredTextColor);
    background: var(--hoveredBackgroundColor);
    box-shadow: inset 0px 0px 0px var(--borderWidth) var(--hoveredBorderColor);
    outline: none;
  }

  &:active:not(.btn--disabled, .btn--loading) {
    color: var(--pressedTextColor);
    background: var(--pressedBackgroundColor);
    box-shadow: inset 0px 0px 0px var(--borderWidth) var(--pressedBorderColor);
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: var(--borderRadius);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 0px var(--pulseSize) var(--pulseColor);
  }

  &:active:not(.btn--disabled, .btn--loading):before {
    box-shadow: 0 0 0 0 var(--pulseColor);
    position: absolute;
    border-radius: var(--borderRadius);
    left: 0;
    top: 0;
    opacity: 0.4;
    transition: 0s;
  }

  &.btn--icon-only {
    --horizontalPadding: 0;
  }

  &.btn--icon {
    font-size: 14px;
    justify-content: center;

    &:not(.btn--icon-only) {
      --horizontalPadding: 8px;
    }

    svg:not([height]),
    svg:not([width]) {
      width: var(--defaultIconSize);
      height: var(--defaultIconSize);
    }

    &.btn--icon--round {
      --borderRadius: 100%;
    }

    &.btn--icon--square {
      --borderRadius: 10px;
    }
  }

  &--fullWidth {
    width: 100%;
  }

  &.btn--disabled {
    color: var(--disabledTextColor);
    background: var(--disabledBackgroundColor);
    box-shadow: inset 0 0 0 var(--borderWidth) var(--disabledBorderColor);
    cursor: not-allowed;
  }

  &--loading {
    color: var(--hoveredTextColor);
    background: var(--hoveredBackgroundColor);
    box-shadow: inset 0px 0px 0px var(--borderWidth) var(--hoveredBorderColor);
    cursor: default;
  }

  &--xSmall {
    .button-size-xsmall-mixin()
  }

  &--small {
    .button-size-small-mixin()
  }

  &--medium {
    .button-size-medium-mixin()
  }

  &--large {
    .button-size-large-mixin()
  }

  @media (min-width: @screen-sm) {
    &--md\:size-xsmall {
      .button-size-xsmall-mixin()
    }
    &--md\:size-small {
      .button-size-small-mixin();
    }
    &--md\:size-medium {
      .button-size-medium-mixin();
    }
    &--md\:size-large {
      .button-size-large-mixin();
    }    
  }
}

.btn {
  --textColor: var(--button-color-main);
  --borderColor: var(--button-color-main);
  --hoveredTextColor: var(--button-color-contrast);
  --hoveredBackgroundColor: var(--button-color-main);
  --hoveredBorderColor: var(--button-color-main);
  --pressedTextColor: var(--button-color-contrast);
  --pressedBackgroundColor: var(--button-color-neutral);
  --pressedBorderColor: var(--button-color-neutral);
  --disabledTextColor: var(--button-color-neutral);
  --disabledBorderColor: var(--button-color-neutral);

  &.btn--outlined {
    --backgroundColor: transparent;
    --disabledBackgroundColor: transparent;
  }

  &.btn--transparent {
    --borderColor: transparent;
    --hoveredTextColor: var(--button-color-main);
    --hoveredBackgroundColor: transparent;
    --pressedTextColor: var(--button-color-neutral);
    --pressedBackgroundColor: transparent;
    --pressedBorderColor: var(--button-color-neutral);
    --disabledBorderColor: transparent;
  }

  &.btn--filled {
    --textColor: var(--button-color-contrast);
    --borderColor: var(--button-color-main);
    --backgroundColor: var(--button-color-main);
    --hoveredTextColor: var(--button-color-contrast);
    --hoveredBackgroundColor: var(--button-color-neutral);
    --hoveredBorderColor: var(--button-color-neutral);
    --pressedTextColor: var(--button-color-contrast);
    --pressedBackgroundColor: var(--button-color-medium);
    --pressedBorderColor: var(--button-color-medium);
    --disabledBorderColor: var(--button-color-medium);
    --disabledTextColor: var(--button-color-contrast);
    --disabledBackgroundColor: var(--button-color-medium);
  }
}

.btn.btn--primary {
  --button-color-main: var(--button-primary-color-main);
  --button-color-neutral: var(--button-primary-color-neutral);
  --button-color-contrast: var(--button-primary-color-contrast);
  --button-color-medium: var(--button-primary-color-medium);
}

.btn.btn--secondary {
  --button-color-main: var(--button-secondary-color-main);
  --button-color-neutral: var(--button-secondary-color-neutral);
  --button-color-contrast: var(--button-secondary-color-contrast);
  --button-color-medium: var(--button-secondary-color-medium);
}

.btn.btn--icon {
  &.btn--primary {
    &.btn--filled {
      --textColor: var(--iconButton-primary-filled-textColor);
      --backgroundColor: var(--iconButton-primary-filled-backgroundColor);
      --borderColor: var(--iconButton-primary-filled-borderColor);

      --hoveredTextColor: var(--iconButton-primary-filled-hovered-textColor);
      --hoveredBackgroundColor: var(--iconButton-primary-filled-hovered-backgroundColor);
      --hoveredBorderColor: var(--iconButton-primary-filled-hovered-borderColor);
  
      --pressedTextColor: var(--iconButton-primary-filled-pressed-textColor);
      --pressedBackgroundColor: var(--iconButton-primary-filled-pressed-backgroundColor);
      --pressedBorderColor: var(--iconButton-primary-filled-pressed-borderColor);
  
      --disabledTextColor: var(--iconButton-primary-filled-disabled-textColor);
      --disabledBackgroundColor: var(--iconButton-primary-filled-disabled-backgroundColor);
      --disabledBorderColor: var(--iconButton-primary-filled-disabled-borderColor);
    }
    &.btn--outlined {
      --textColor: var(--iconButton-primary-outlined-textColor);
      --backgroundColor: var(--iconButton-primary-outlined-backgroundColor);
      --borderColor: var(--iconButton-primary-outlined-borderColor);
  
      --hoveredTextColor: var(--iconButton-primary-outlined-hovered-textColor);
      --hoveredBackgroundColor: var(--iconButton-primary-outlined-hovered-backgroundColor);
      --hoveredBorderColor: var(--iconButton-primary-outlined-hovered-borderColor);
  
      --pressedTextColor: var(--iconButton-primary-outlined-pressed-textColor);
      --pressedBackgroundColor: var(--iconButton-primary-outlined-pressed-backgroundColor);
      --pressedBorderColor: var(--iconButton-primary-outlined-pressed-borderColor);
  
      --disabledTextColor: var(--iconButton-primary-outlined-disabled-textColor);
      --disabledBackgroundColor: var(--iconButton-primary-outlined-disabled-backgroundColor);
      --disabledBorderColor: var(--iconButton-primary-outlined-disabled-borderColor);
    }
  }

  &.btn--secondary {
    &.btn--filled {
      --textColor: var(--iconButton-secondary-filled-textColor);
      --backgroundColor: var(--iconButton-secondary-filled-backgroundColor);
      --borderColor: var(--iconButton-secondary-filled-borderColor);
  
      --hoveredTextColor: var(--iconButton-secondary-filled-hovered-textColor);
      --hoveredBackgroundColor: var(--iconButton-secondary-filled-hovered-backgroundColor);
      --hoveredBorderColor: var(--iconButton-secondary-filled-hovered-borderColor);
  
      --pressedTextColor: var(--iconButton-secondary-filled-pressed-textColor);
      --pressedBackgroundColor: var(--iconButton-secondary-filled-pressed-backgroundColor);
      --pressedBorderColor: var(--iconButton-secondary-filled-pressed-borderColor);
  
      --disabledTextColor: var(--iconButton-secondary-filled-disabled-textColor);
      --disabledBackgroundColor: var(--iconButton-secondary-filled-disabled-backgroundColor);
      --disabledBorderColor: var(--iconButton-secondary-filled-disabled-borderColor);
    }
    &.btn--outlined {
      --textColor: var(--iconButton-secondary-outlined-textColor);
      --backgroundColor: var(--iconButton-secondary-outlined-backgroundColor);
      --borderColor: var(--iconButton-secondary-outlined-borderColor);
  
      --hoveredTextColor: var(--iconButton-secondary-outlined-hovered-textColor);
      --hoveredBackgroundColor: var(--iconButton-secondary-outlined-hovered-backgroundColor);
      --hoveredBorderColor: var(--iconButton-secondary-outlined-hovered-borderColor);
  
      --pressedTextColor: var(--iconButton-secondary-outlined-pressed-textColor);
      --pressedBackgroundColor: var(--iconButton-secondary-outlined-pressed-backgroundColor);
      --pressedBorderColor: var(--iconButton-secondary-outlined-pressed-borderColor);
  
      --disabledTextColor: var(--iconButton-secondary-outlined-disabled-textColor);
      --disabledBackgroundColor: var(--iconButton-secondary-outlined-disabled-backgroundColor);
      --disabledBorderColor: var(--iconButton-secondary-outlined-disabled-borderColor);
    }
    &.btn--transparent {
      --textColor: var(--iconButton-secondary-outlined-textColor);
      --backgroundColor: transparent;
      --borderColor: transparent;

      --hoveredTextColor: var(--iconButton-secondary-outlined-hovered-textColor);
      --hoveredBackgroundColor: var(--iconButton-secondary-outlined-hovered-backgroundColor);
      --hoveredBorderColor: var(--iconButton-secondary-outlined-hovered-borderColor);
  
      --pressedTextColor: var(--iconButton-secondary-outlined-pressed-textColor);
      --pressedBackgroundColor: var(--iconButton-secondary-outlined-pressed-backgroundColor);
      --pressedBorderColor: var(--iconButton-secondary-outlined-pressed-borderColor);
  
      --disabledTextColor: var(--iconButton-secondary-outlined-disabled-textColor);
      --disabledBackgroundColor: transparent;
      --disabledBorderColor: transparent;
    }
  }
}
