.followButton {
  min-width: 122px;

  --color-follow: var(--followButton-followColor, var(--color-primary));
  --color-follow-pressed: var(--followButton-followColorPressed, var(--color-blue-500));
  --color-unfollow: var(--followButton-unfollowColor, var(--color-red));
  --color-unfollow-pressed: var(--followButton-unfollowColorPressed, var(--color-dark-red));
  --color-disabled: var(--followButton-disabledColor, var(--color-gray-300));

  --textColor: var(--followButton-baseColor, var(--color-gray-200));
  --borderColor: var(--textColor);
  --backgroundColor: transparent;
  --hoveredBackgroundColor: transparent;
  --hoveredTextColor: var(--color-follow);
  --hoveredBorderColor: var(--color-follow);
  --pressedTextColor: var(--color-follow-pressed);
  --pressedBorderColor: var(--color-follow-pressed);
  --pressedBackgroundColor: transparent;
  --disabledTextColor: var(--color-gray-300);
  --disabledBorderColor: var(--color-gray-300);
  --loadingTextColor: var(--color-follow);
  --loadingBorderColor: var(--color-follow);

  &.isFollowing {
    --hoveredTextColor: var(--color-unfollow);
    --hoveredBorderColor: var(--hoveredTextColor);
    --pressedTextColor: var(--color-unfollow-pressed);
    --pressedBorderColor: var(--pressedTextColor);
  }
}
