.address {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: var(--color-gray-200);
  transition: color .3s;

  &:focus-visible {
    color: var(--color-white);
    text-decoration: underline;
  }
}
